# Project
dist/

# Dependencies
node_modules/
jspm_packages/
typings/

# Cache
.eslintcache
.node_repl_history

# Env files
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Data
*.csv
*.dat
*.efx
*.gbr
*.key
*.pps
*.ppt
*.pptx
*.sdf
*.tax2010
*.vcf
*.xml
*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sql
*.sqlite3

# OS
.DS_Store
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity

# Runtime data
pids
*.pid
*.seed
*.pid.lock
*.tgz

# Test dirs
lib-cov
coverage
.nyc_output

# Bower
bower_components

# Grunt
.grunt
